---
import Layout from '../layouts/Layout.astro';
import HeaderPresentation from "../components/presentation/header"
import HeroPresentation from "../components/presentation/HeroPresentation"
import ForgettingCurvePresentation from "../components/presentation/ForgettingCurvePresentation"
import ProblemStatementPresentation from "../components/presentation/ProblemStatementPresentation"
import FeaturesPresentation from "../components/presentation/feature"
import DevFreePresentation from "../components/presentation/developerFree"
import PalettePresentationFree from "../components/presentation/palette"
import CodePresentation from "../components/presentation/code"
import TrackYourTriumph from "../components/presentation/freeToPro"
import PricingPresentation from "../components/presentation/pricing"

---

<Layout title="Volco - Master Vocabulary for Life">
	<main>
    <HeaderPresentation client:only="react" />
    <HeroPresentation client:only="react" />
    <ForgettingCurvePresentation client:only="react" />
    <ProblemStatementPresentation client:only="react" />
    <FeaturesPresentation client:only="react" />
    <PricingPresentation client:only="react" />
  </main>
</Layout>