---
import Layout from '../layouts/Layout.astro';
import HeaderPresentation from "../components/presentation/header"
import FeaturePresentation from "../components/presentation/feature"
import HowVolcoWorks from "../components/presentation/HowVolcoWorks";
import DevFreePresentation from "../components/presentation/developerFree"
import PalettePresentationFree from "../components/presentation/palette"
import CodePresentation from "../components/presentation/code"
import TrackYourTriumph from "../components/presentation/freeToPro"
import PricingPresentation from "../components/presentation/pricing"

---

<Layout title="Volco - Master Vocabulary for Life">
	<main>
    <HeaderPresentation client:only="react" />
    <FeaturePresentation client:only="react" />
    <HowVolcoWorks client:only="react" />
    <DevFreePresentation client:only="react" />
    <PalettePresentationFree client:only="react" />
    <CodePresentation client:only="react" />
    <TrackYourTriumph client:only="react" />
    <PricingPresentation client:only="react" />
  </main>
</Layout>